<%- include('layout/_header') %>
<div class="manage-box">
    <h1>Welcome Admin</h1>
    <div class="info">
        <form action="/charges" method="post" class="charges">
           <p><label for="charges">Enter Mission charges here: </label></p>
            <input type="number" placeholder="e.g Kshs 200" name="charge" required min="0">
            <button type="submit">Set Charges</button>
        </form>
        <form action="/del-notice" class="del-not">
            <button class="del" type="submit">Delete All Notifications</button>
        </form>
    </div>
    <div class="manage-all">
        <div class="manage-mail">
            <h2>Send All Members Emails</h2>
            <form action="/send-email" method="post">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="mail-text" required><br>
                <label for="text">Message:</label><br>
                <textarea id="text" name="text" rows="4" cols="50"class="mail-text" required></textarea><br>
                <button type="submit">Send Email</button>
              </form>              
        </div>
        <div class="manage-mail">
            <h2>Send Mission Notifications</h2>
            <form action="/notifications" method="post">
                <label for="title">Notification Title:</label>
                <input type="text" id="noticeTitle" name="title" required><br>
                <label for="date">Date for Submission:</label>
                <input type="date" id="date" name="date" required><br>
                <label for="message">Notification Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
                <button type="submit">Send Notification</button>
              </form>              
        </div>
    
    </div>
</div>
</div>
<%- include('layout/_footer') %>