<%- include('layout/_header') %>
        <div class="hero">
            <h1 class="hero-h1">Welcome To <span>MUTCU Mission</span> Registration</h1>
            <p>Get the Latest Updates Concerning the Annual Mission</p>
            <button>Click to get Started &rArr; <span></span></button>
        </div>
    </div>

    <%- include('layout/_footer') %>