<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <h1>MUTCU Mission Center</h1>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/notifications">Notifications</a>
                </li>
                <li>
                    <a href="/registered">Registered Members</a>
                </li>
            </ul>
        </nav>
<div class="auth-box">
<img src="/banner.jpg" width="250px"/>
<% if(user){ %>
    <h1>Welcome Back <%= user.username%></h1>
<% }else{ %>
    <h1>Welcome Back</h1>
<%} %>
<h2>Login Here</h2>
<form>
    <div class="input-el">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Enter your email address here">
        <div class="email error"></div>
    </div>
    <div class="input-el">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="off" required placeholder="Enter your email address here">
        <div class="password error"></div>
    </div>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/signUp">Sign Up</a></p>
</div>
<script src="/loginscripts.js"></script>
<%- include('layout/_footer') %>