<%- include('layout/_header') %>


        <div class="hero">
            <h1 class="hero-h1">Welcome To <span>Notifications</span> Page</h1>   
            <p>There are currently no notifications at the moment</p>        
        </div>
    </div>

    <%- include('layout/_footer') %>