*{margin:0; padding: 0;font-family: sans-serif;box-sizing: border-box;}
.container{width:100%;min-height: 100vh; background:whitesmoke;display: flex;flex-direction: column;}
.container nav a {text-decoration: none;}
nav{width: 100%;height: 10vh;background: rgba(135, 206, 235,0.7);display: flex;justify-content: space-between;align-items: center;padding: 20px;}
nav .greeting{font-size: large;font-weight: bold;color: #000000aa;}
nav h1{color: whitesmoke;font-size: 25px;}
nav ul{display: inline-block;display: flex;justify-content: space-between;align-items: center;}
nav ul li{list-style: none;margin: 20px;}
nav ul li a{text-decoration: none;color:gray;}
.container-el{width: 100%;margin-top: 5%; display: flex;justify-content: center;align-items: center;}
.container-el form,.delete-all{width: 50%; display: flex;cursor: pointer; align-items: center;flex-direction: column;box-shadow: 2px 2px 2px 2px gray;padding-bottom: 10px;border-radius: 10px;}
form span{width: 100%;height: 7vh;display: flex;align-items: center;justify-content: center;background: rgba(135, 206, 235,0.7);border-top-left-radius: 10px;border-top-right-radius: 10px;}
form span h1{color: gray;}
form .input-el{width: 100%;height: auto;margin-top: 0px;padding: 10px;}
form .input-el label{font-size: 20px;font-weight: bold;color:gray;}
form .input-el input{width: 100%;padding: 10px 8px;margin-top: 10px;outline: none;border-radius: 10px;border: 1px solid gray;color: gray;font-size: 18px;}
form .input-el input::placeholder{font-size: 16px;}
.input-el-btn{background: rgba(135, 206, 235,0.7);font-weight: bold;cursor: pointer;}
.input-el-btn:hover{background: #fff;}
.container-table{width: 100%;min-height: 90vh;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.container-table table{width: auto;height: auto; box-shadow: 2px 2px 2px 2px gray;color: gray;}
.container-table table a{text-decoration: none;font-size: 16px;}
.container-table table thead{background:  rgba(135, 206, 235,0.7);font-weight: bold;font-size: 20px;}
.container-table table thead th, td{padding: 10px 6px;min-width: 100px;}
.container-table table tbody {background: rgba(128, 128, 128, 0.2);}
.container-table table tbody tr td{text-align: center;border-collapse: collapse;}
.container-table .delete-all{width: 300px;background: rgba(135, 206, 235,0.7); border-radius: 10px;}
.container-table .delete-all:hover{cursor: pointer;}
.container-table .delete-all button{border: none;background: transparent;margin-top: 3%; color: gray;font-weight: bold;}

.search{margin-bottom: 5%;background: rgba(135, 206, 235,0.7); border-radius: 10px;}
.search input,.info input{padding: 10px 20px;border-radius: 10px 0px 0px 10px;outline: none;border: 1px solid rgba(135, 206, 235,0.7);border-right: none;color: gray; font-size: 16px;}
.search input::placeholder, .info input::placeholder{font-size: 16px;}
.search button{cursor: pointer;border-radius: 15px;border: none;font-size: 15px; padding: 10px 20px; background: transparent;color: gray;}

.alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
.alert.success {color: #155724;background-color: #d4edda;border-color: #c3e6cb;}
.alert.error {color: #721c24;background-color: #f8d7da;border-color: #f5c6cb;}
.alert.info {color: #0c5460;background-color: #d1ecf1;border-color: #bee5eb;}

.hero{margin-top: 10%;padding: 20px;}
.hero .hero-h1{color: gray;font-size: 70px;} 
.hero span{color: rgba(135, 206, 235,0.7);}
.hero p{font-size: 32px;margin-top: 5%;color: gray;}
.hero button{padding: 15px 20px;border-radius: 25px;border: 2px solid rgba(135, 206, 235,0.7);cursor: pointer; background: rgba(135, 206, 235,0.7);color: gray; margin-top: 4%;font-weight: bold;text-transform: uppercase;}
.hero button:hover{background: transparent;}

.err{color: gray;font-size: 60px;padding: 0px 20px;}

.auth-box{min-height: 90vh;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.auth-box h1{color: gray;margin-top: 1%;}
.auth-box h2{color: gray;font-size: 30px;}
.auth-box form{color: #fff;padding: 20px;width: 50%;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.auth-box form button, .manage-mail form button, .del{width: 200px;padding: 10px 20px;border-radius: 25px;border:2px solid rgba(135, 206, 235,0.7);background:rgba(135, 206, 235,0.7);margin-top: 2%;font-weight: bold;font-size: 18px;color: gray;box-shadow: 0px 1px 1px 0px #000;cursor: pointer;}
.auth-box form button:hover,.manage-mail form button:hover, .del:hover{background: transparent;}
.info{display: flex;justify-content: space-between;align-items: center;width: 80%;margin: auto;font-size: 20px;color: gray;}
.info input{background: transparent;}
.info .charges button{padding: 11px 10px;margin-left: -5px;background:rgba(135, 206, 235,0.7); border-radius: 0px 10px 10px 0px;cursor: pointer;color: gray; outline: none;border: 1px solid rgba(135, 206, 235,0.7);}



.notifications, .manage-box{min-height: 90vh;display: flex;align-items: center;flex-direction: column;}
.notifications h1, .manage-box h1{color: gray;font-size: 70px;margin-top: 1%;} 
.notifications span{color: rgba(135, 206, 235,0.7);}
.notifications p{font-size: 25px;font-weight: bold;color: gray;}
.notice-card{width: 100%;padding: 10px 20px;}
.notice-card h1{font-size: 40px;}
.notice-card p{margin-left: 3%;margin-top: 1%;font-size: 25px;color: gray;}
.date{font-size: 25px;}

.manage-box{min-height: 90vh;display: flex;justify-content: center;align-items: center;}
.manage-all{width: 100%;padding: 10px 20px;display: flex;justify-content: space-evenly;}
.manage-mail{width: 40%;background: #fff;padding: 10px;border-radius: 25px;box-shadow: 0px 1px 1px 0px #000;}
.manage-mail h2{font-size: 32px;margin-bottom: 2%;}
.manage-mail label{font-size: 25px;font-weight: semi-bold;color: gray;}
.manage-mail form input, textarea{width: 100%;padding:5px 10px;border-top:0px; border-left: 0px;border-right: 0px;outline: none;margin:1% 0%;font-size: 18px;}
form .del{background: red;color: #fff;border:2px solid red;margin-left: 6%;width: 400px;}
form .del:hover{color: red;}
.mail-text{margin-bottom: 16%;}
.error{color: red;}

.highlight-row {
    background-color: yellow; /* Change this to your desired highlight color */
}


