*{margin:0; padding: 0;font-family: sans-serif;box-sizing: border-box;}
.container{width:100%;min-height: 100vh; background: beige;display: flex;flex-direction: column;}
nav{width: 100%;height: 10vh;background: rgba(135, 206, 235,0.6);display: flex;justify-content: space-between;align-items: center;padding: 20px;}
nav h1{color: whitesmoke;font-size: 25px;}
nav ul{display: inline-block;display: flex;justify-content: space-between;align-items: center;}
nav ul li{list-style: none;margin: 20px;}
nav ul li a{text-decoration: none;color:gray;}
.container-el{width: 100%;margin-top: 5%; display: flex;justify-content: center;align-items: center;}
form{width: 50%; display: flex;align-items: center;flex-direction: column;box-shadow: 2px 2px 2px 2px gray;padding-bottom: 10px;border-radius: 10px;}
form span{width: 100%;height: 7vh;display: flex;align-items: center;justify-content: center;background: rgba(135, 206, 235,0.6);border-top-left-radius: 10px;border-top-right-radius: 10px;}
form span h1{color: gray;}
form .input-el{width: 100%;height: auto;margin-top: 0px;padding: 10px;}
form .input-el label{font-size: 20px;font-weight: bold;color:gray;}
form .input-el input{width: 100%;padding: 10px 8px;margin-top: 10px;outline: none;border-radius: 10px;border: 1px solid gray;color: gray;font-size: 18px;}
form .input-el input::placeholder{font-size: 16px;}
.input-el-btn{background: rgba(135, 206, 235,0.6);font-weight: bold;cursor: pointer;}
.input-el-btn:hover{background: #fff;}
.container-table{width: 100%;height: 90vh;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.container-table table{width: auto;height: auto; box-shadow: 2px 2px 2px 2px gray;color: gray;}
.container-table table a{text-decoration: none;font-size: 16px;}
.container-table table thead{background:  rgba(135, 206, 235,0.6);font-weight: bold;font-size: 20px;}
.container-table table thead th, td{padding: 10px 6px;min-width: 100px;}
.container-table table tbody {background: rgba(128, 128, 128, 0.2);}
.container-table table tbody tr td{text-align: center;border-collapse: collapse;}
.container-table form{width: 300px;background: rgba(135, 206, 235,0.6);}
.container-table form button{border: none;background: transparent;margin-top: 3%; color: gray;font-weight: bold;}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}



.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.hero{margin-top: 10%;padding: 20px;}
.hero .hero-h1{color: gray;font-size: 70px;} 
.hero span{color: #87cfebcb;}
.hero p{font-size: 32px;margin-top: 5%;color: gray;}
.hero button{padding: 15px 20px;border-radius: 25px;border: 2px solid #87cfebcb;cursor: pointer; background: #87cfebcb;color: gray; margin-top: 4%;font-weight: bold;text-transform: uppercase;}
.hero button:hover{background: transparent;}

.err{color: gray;font-size: 60px;padding: 0px 20px;}