<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <nav>
           <a href="/"><h1>MUTCU Mission Center</h1></a>
           <% if(user){ %>
            <h1 class="greeting">Welcome <%= user.username%></h1>
       <% } %>
            <ul>    
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/notifications">Notifications</a>
                </li>
                <li>
                    <a href="/add">Add Members</a>
                </li>
                <li>
                    <a href="/registered">Registered Members</a>
                </li>
                <% if(user){ %>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
               <% } %>
            </ul>
        </nav>